@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: aquamarine;
    display: flex;
    
}
#box1{
    float: left;
}
#box2{
    float: right;
}



