@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgba(39, 34, 34, 0.986);
  }
  
  h1{
    color: cyan;
    text-align: center;
  }
  h3{
    margin-top: 300px;
    text-align: center;
    font-size: large;
  }
  .container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap; 
    padding-top: 150px;
    padding-left: 150px;
    
  }
  
.white {
    position: relative;
    background: rgb(241, 240, 240);
    width: 8%;
    height: 400px;
    margin: 0 2px;
  }
  
  .white.black:after {
    content: "";
    position: absolute;
    top: 0;
    background: rgb(17, 11, 11);
    right: -25%;
    width: 30%;
    height: 50%;
    z-index: 1;
  }